In [1]:
import numpy as np
import pandas as pd

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

In [4]:
dataframe = pd.read_csv("Veo Mileage - Veo Stats Advanced.csv")
dataframe.head()

        Date   Person  Mileage Time Comments
0  6/17/2024   George    10.08   38      NaN
1  6/17/2024  Aidan S     8.99   33      NaN
2  6/18/2024  Aidan S     0.46    3      NaN
3  6/25/2024   Okezie     1.34    6      NaN
4  6/18/2024   George     0.41    3      NaN

In [6]:
GEORGE = dataframe[dataframe["Person"] == "George"]